<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Covid 19 API</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style th:replace="fragments :: style"></style>
</head>

<body>

<div th:replace="fragments :: header"></div>

<div class="container">
    <h1>Covid 19 API</h1>
    <h2>Présentation</h2>
    <p>
        Travail en cours, l'objectif est de proposer une API pour les données Covid proposées dans des fichiers CSV sur
        <a href="https://www.data.gouv.fr/fr/pages/donnees-coronavirus">www.data.gouv.fr/fr/pages/donnees-coronavirus</a>
    </p>

    <h2>Documentation de l'API avec Swagger UI</h2>

    <a href="/swagger-ui/index.html?url=/v3/api-docs">Documentation de l'API</a>

    <h2>Documentation de l'API avec RESTdocs</h2>

    <a th:href="@{/docs/index.html}">Documentation de l'API</a>

</div>

<div th:replace="fragments :: footer"></div>

<script crossorigin="anonymous"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>